.bd-placeholder-img {
    font-size: 1.125rem;
    text-anchor: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
  }

  @media (min-width: 768px) {
    .bd-placeholder-img-lg {
      font-size: 3.5rem;
    }
  }

  .b-example-divider {
    height: 3rem;
    background-color: rgba(0, 0, 0, .1);
    border: solid rgba(0, 0, 0, .15);
    border-width: 1px 0;
    box-shadow: inset 0 .5em 1.5em rgba(0, 0, 0, .1), inset 0 .125em .5em rgba(0, 0, 0, .15);
  }

  .b-example-vr {
    flex-shrink: 0;
    width: 1.5rem;
    height: 100vh;
  }

  .bi {
    vertical-align: -.125em;
    fill: currentColor;
  }

  .nav-scroller {
    position: relative;
    z-index: 2;
    height: 2.75rem;
    overflow-y: hidden;
  }

  .nav-scroller .nav {
    display: flex;
    flex-wrap: nowrap;
    padding-bottom: 1rem;
    margin-top: -1px;
    overflow-x: auto;
    text-align: center;
    white-space: nowrap;
    -webkit-overflow-scrolling: touch;
  }

  .container-cuenta{
    background-color: #E6F5FF;
    min-height: 100vh;
    font-size: 14px;
    font-family: 'Poppins', sans-serif;
  }

  .button-edit{
    /* flexbox */
    align-items: center;
    flex-direction: column;
    justify-content: center;
    
    /* this can be anything */
    height: 22px;
    width: 22px;
    margin-left: 10%;
    margin-bottom: 2px;

  }
  .fa {
    height: 15px;
    width: 15px;
  }
  
.container-cuenta-editar {
  align-items: center;
  -webkit-align-items: center;
  justify-content: center;
  -webkit-justify-content: center;
  width: 100%;
  font-size: 15px;
}

.btn{
  margin-top: 15px;
  margin-bottom: 15px;
}


.form-label{
  margin-bottom: 0;
  width: 100%;
  font-size: 17px;
}
.h6-cuenta{
  font-size: 15px;
}

.h4-cuenta{
  font-size: 20px;
  font-weight: 500;
  margin-bottom: 18px;
}

.form-control{
  font-size: 16px;
  height: 40px;
}

.text-primary{
  font-weight: 600;
  font-size: 17px;
}