* {
	margin:0;
	padding:0;
	box-sizing:border-box;
}

.home{
    font: normal 16px Raleway;
	color:#555;
}


ul, nav {
	list-style:none;

}

.a-home {
	text-decoration:none;
	opacity:0.75;
	color:#fff;
}

.a-home:hover {
	opacity:1;
}

@keyframes fadeIn {
	100% {
		opacity:1;
	}
}

.header-home {
	position:absolute;
	width:100%;
	
	display:flex;
	justify-content:space-between;
	align-items:center;
	
	padding: 35px 100px 0;
	opacity:0;
	animation: fadeIn 1s  0.5s forwards ease-in;
	color:#fff;
}


nav {
	display: flex;
	margin-right: -15px;
}

.header-home nav li {
	margin: 0 15px;
}

@media (max-width:800px) {
	.header-home {
		padding:20px 50px;
		flex-direction:column;
	}
	
	.header-home .h2-home {
		margin-bottom:15px;
	}
}


.section-home {
	text-align:center;
	display:flex;
	flex-direction:column;
	align-items:center;
	padding: 100px 80px;

}

.section-home:not(.hero):nth-child(even) {
	background-color:#E6F5FF;;
}

@media (max-width:800px) {
	.section-home {
		padding:50px 20px;;
	}
}

.btn {
	border-radius:4px;
	text-transform:uppercase;
	background-color:#3751b5;
	opacity:1;
	font-weight:bold;
	color:#fff;
}

.hero {
	position:relative;
	justify-content:center;
	text-align:center;
	min-height:100vh;
	color:#fff;
}


.hero .bkg-img {
	position:absolute;
	top:0;
	left:0;
	background-size:cover;
	width:100%;
	height:100%;
	z-index:-1;
}

.hero .h1-home {
	font-size:60px;
	margin-bottom:15px;
}

.hero .h3-home {
	font-size:28px;
	margin-bottom:40px;
}

.hero .a-home.btn {
	padding: 20px 46px;
}


.hero-content {
	opacity:0;
	margin-top:200px;
	animation: slideIn 1s 1s forwards ease-in;
}

@keyframes slideIn {
	100% {
		opacity:1;
		margin:0;
	}
}

@media (max-width:800px) {
	.hero {
		min-height:600px;
	}
	
	.hero .h1-home {
		font-size:48px;
	}
	
	.hero h2 {
		font-size:24px;
	}
	
	.hero .a-home.btn {
		padding: 15px 40px;
	}
}

.grid {
	width:100%;
	display:flex;
	flex-wrap:wrap;
	justify-content:center;
}

hr {
	width:250px;
	height:3px;
	background-color:#3f51b5;
	border:0;
	margin:50px;
    
}

.section-home .h3-home.title {
	text-transform:capitalize;
	font: bold 32px Raleway;
	margin-bottom:30px;
	text-align:center;
}

.section-home .p-home {
	max-width:775px;
	line-height:2;
	padding: 0 20px;
	margin-bottom:30px;
	text-align:center;
}

.destinations .grid li {
	height:350px;
	padding:10px;
	background-clip:content-box;
	background-size:cover;
	background-position:center;
}

.destinations .grid li.small {
	flex-basis:30%;
}

.destinations .grid li.large {
	flex-basis:70%;
}

@media (max-width:1100px) {
	.destinations .grid li.small,
	.destinations .grid li.large {
		flex-basis:50%;
	}
}

@media (max-width:800px) {
	.destinations .grid li.small,
	.destinations .grid li.large {
		flex-basis:100%;
	}
}


.packages .grid li {
	padding:50px;
	flex-basis:50%;
	text-align:center;
} 

.packages .grid li i {
	color:#8c9eff;
}

.packages .grid li h4 {
	font-size:30px;
	margin:20px;
}
	
@media (max-width:800px) {
	.packages .grid li {
		flex-basis:100%;
		padding:20px;
	}
}

.testimonials .quote {
	font-size:22px;
	font-weight:300;
	line-height:1.5;
	margin: 40px 0 25px;
}

@media (max-width:1100px) {
.testimonials .quote {
		font-size:18px;
		margin:15px 0;	
	}
	.testimonials .author {
		font-size:14px;
	}	
}



.accordion {
    width: 100%;
    height: 350px;
    overflow: hidden;
    margin: 0px auto;
}
  
.accordion ul {
    width: 100%;
    display: table;
    table-layout: fixed;
    margin: 0;
    padding: 0;
}

  .accordion ul li {
    display: table-cell;
    vertical-align: bottom;
    position: relative;
    width: 16.666%;
    height: 350px;
    background-repeat: no-repeat;
    background-position: center center;
    transition: all 500ms ease-in-out;
  }
  
  .accordion ul li div {
    display: block;
    overflow: hidden;
    width: 100%;
  }
  
.accordion ul li div a {
	display: block;
	height: 350px;
	width: 100%;
	position: relative;
	z-index: 3;
	padding: 15px 20px;
	box-sizing: border-box;
	color: #fff;
	text-shadow: 1px 1px 2px #000;
	text-decoration: none;
	font-family: Open Sans, sans-serif;
	transition: all 300ms ease-in-out;
}
  
  .accordion ul li div a * {
    opacity: 0;
    margin: 0;
    width: 100%;
    text-overflow: ellipsis;
    position: relative;
    z-index: 5;
    white-space: nowrap;
    overflow: hidden;
    -webkit-transform: translateX(-20px);
    transform: translateX(-20px);
    -webkit-transition: all 400ms ease-in-out;
    transition: all 400ms ease-in-out;
  }
  .accordion ul li div a h2 {
    font-family: Montserrat, sans-serif;
    text-overflow: clip;
    font-size: 32px;
    text-transform: uppercase;
    margin-bottom: 2px;
    top: 160px;
  }
  
.accordion ul li div a p {
    top: 160px;
    font-size: 18px;
    padding-left: 1em;
    color: #fff;
}

.accordion ul li:nth-child(1) { 
    background-image: url("./img/Comida.jpg"); 
    background-position: 50% 30%;
}
  
  .accordion ul li:nth-child(2) { 
    background-image: url("./img/Naturaleza.jpg"); 
   background-position: 70% 0%;
  }
  
.accordion ul li:nth-child(3) { 
    background-image: url("./img/Deporte.jpg"); 
    background-position: 50% 50%;
}
  
.accordion ul li:nth-child(4) { 
    background-image: url("./img/Explora.jpg"); 
    background-position: 30% 40%;
}
  
  .accordion ul li:nth-child(5) { 
    background-image: url("./img/Personas.jpg"); 
    background-position: 60% 64%;
  }
  
  .accordion ul li:nth-child(6) { 
    background-image: url("./img/Cultura.jpg"); 
    background-position: 70% 25%;
  }
  
  .accordion ul li { background-size: cover; }
  .accordion ul:hover li { width: 10%; }
  .accordion ul:hover li:hover { width: 90%; }
  
  
.accordion ul:hover li:hover a * {
    opacity: 1;
    -webkit-transform: translateX(0);
    transform: translateX(0);
}
@media screen and (max-width: 680px) {

body { margin: 0; }
.accordion { height: auto; }

.accordion ul li,
.accordion ul li:hover,
.accordion ul:hover li,
.accordion ul:hover li:hover {
    position: relative;
    display: table;
    table-layout: fixed;
    width: 100%;
    -webkit-transition: none;
    transition: none;
}
.accordion ul li div a * {
    opacity: 1;
    -webkit-transform: translateX(0);
    transform: translateX(0);
}
}
  