.wrapper{
    position: relative;
    display: flex;
}


.input-recomendaciones {
    width: 14rem;
    height: 2.5rem;
    padding: 0 0.5rem;
    border-radius: 0.25rem;
    border: 1px solid #585858;
    color: black;
}

.validation{
    position: absolute;
    top: 0.55rem;
    right: 0.7rem;
    opacity: 0;
    color: #fd4444;
}

@keyframes shake{
    0%, 100% {transform: translateX(0);}
    25% {transform: translateX(8px);}
    75% {transform: translateX(-8px);}
}

.input-recomendaciones:valid {border-color: #55d688;}
.input-recomendaciones:invalid {border-color: #fd4444;}
.input-recomendaciones:invalid ~ .validation {opacity: 1;}
.input-recomendaciones:invalid, .input-recomendaciones:invalid ~ .validation{
    animation: shake 0.1635s 0s 3;
}

.body-recomendaciones{
    background-color: #E6F5FF;
    list-style: none;
}

.nav-recomendaciones{
    display: flex;
    width: 100%;
    list-style: none;
    font-style: 'Poppins', sans-serif;
    justify-content: center ; 
    align-items: center; 
}

.container-recomendaciones{
    background-color: #E6F5FF;
    min-height: 100vh;
    
}

.nav-item-recomendaciones{
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    font-weight: 600;
    box-sizing: border-box;
    padding: 1em;
    margin-left: 50px;
    margin-right: 50px;
    width: 250px;
    text-align: center;
    border-radius: 1rem;
    background: white;
    box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.056), 0 6.7px 5.3px rgba(0, 0, 0, 0.081), 0 12.5px 10px rgba(0, 0, 0, 0.1), 0 22.3px 17.9px rgba(0, 0, 0, 0.119), 0 41.8px 33.4px rgba(0, 0, 0, 0.144), 0 100px 80px rgba(0, 0, 0, 0.2);
}


.h1-recomendaciones{
    font-size: 15px;
}

.text-recomendaciones{
    color: black;
    font-size: 16px;
    margin-bottom: 35px;
}